#layer{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: rgb(0,0,0,0.3);
  display:none;
}
#layer .content{
  width:60px;
  height:300px;
  margin:100px auto;
  background: #fff;
}